.trip-view-container {
    width: 100%;
    height: 100vh;
    display: grid;
    /* grid-template:  */
}

.trip-view-selectors div {
    background-color: lightgrey;
    width: 200px;
    height:200px;
    border: 1px solid black;
    margin: 15px;
}