
@media only screen and (min-width: 769px) {
.profile-shell {
    background-image: url("../Logo/Profilepagebackground.jpeg");
    background-position: center;
    background-size: cover;
    width:100vw;
    height: 100vh;
    /* animation: showup 5s; */
}

.attributes {
}

.main-content-wrapper {
    margin: 0 auto;
    max-width: 960px; 
    padding-top: 100px;
    padding-right: 10px; 
    padding-left: 10px; 
  }

.info-container {
  display: flex;
  justify-content: row;
  flex-direction: row;
  position: absolute;
  margin-left: 300px;
  margin-top: 200px;
  
}
.user-photo-main {
  display: flex;
  position: absolute;
  margin-left: 100px;
  height: 110%;
  width: 40%;
  

}
.email-field {
  display: flex;
  margin-left: 400px;
}
.username-field {
  display: flex;
  margin-left: 400px;
}

.submit-button {
  margin-left: 400px;
}
}