.attributes {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.profile-info-container {
  display: flex;
  background-image: url("../Logo/Profilepagebackground.jpeg");
  height: 100vh;


}
.info-container {
    
}