.app-header {
	background: linear-gradient(to right ,#BEDAD7, #4EADA5 , #2387DE);;
	/* overflow: hidden; */
	padding: 1em;
	height: 10vh;
}
.user-photo {
	display: flex;
	float: right;
	border: 2px solid white;
	border-radius: 50px 50px 50px 50px;
	height: 10vh;
}

.logo {
    height: 80px;
    width: 80px;
}