/*For Small phone*/
@media only screen and (min-width:320px) {
	.app-header {
		/* display: flex; */
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 75px;
		background: rgb(189, 189, 189);
		/* overflow: hidden; */
		padding: 1em;
		width: 100%;
		
		box-shadow: 1px 4px 8px #777777;
		z-index: 3;
	}
	
	.logo {
		width: 40px;
		position: absolute;
		top: 3vh;
		right: 25vw;
		border-radius: 50px;
		box-shadow: 2px 5px 12px #444444;
		/* height will adjust according to the width */
	 }

	 .login-buttons{
		position: fixed;
		left: 45vw;
		top: 0;
	}

	 .user-photo {
		float: right;
		position: fixed;
		right: 2vw;
		top: 3vh;
		margin-right: 15px;
		border: 1px solid white;
		border-radius: 50px;
		height: 40px;
		box-shadow: 2px 5px 12px #444444;
	}
	.header-search {
		float: right;
		position: fixed;
		top: 4vh;
		right: 30vw;
		box-shadow: 2px 5px 12px #444444;
	}
}

/*For tablets*/
@media only screen and (min-width:768px) {
	.app-header {
		/* display: flex; */
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 75px;
		background: rgb(189, 189, 189);
		/* overflow: hidden; */
		padding: 1em;
		width: 100%;
		
		box-shadow: 1px 4px 8px #777777;
		z-index: 3;
	}
	
	.logo {
		width: 60px;
		position: absolute;
		top: 2.5vh;
		right: 35vw;
		border-radius: 50px;
		box-shadow: 2px 5px 12px #444444;
		/* height will adjust according to the width */
	 }

	 .login-buttons{
		position: fixed;
		left: 45vw;
		top: 0;
	}

	 .user-photo {
		float: right;
		position: fixed;
		right: 2vw;
		top: 2.5vh;
		margin-right: 15px;
		border: 1px solid white;
		border-radius: 50px;
		height: 50px;
		box-shadow: 2px 5px 12px #444444;
	}
	.header-search {
		float: right;
		position: fixed;
		top: 4vh;
		right: 12vw;
		box-shadow: 2px 5px 12px #444444;
	}
}

/*For Full Screen*/
@media only screen and (min-width:1024px) {
	.app-header {
		/* display: flex; */
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 75px;
		background: rgb(189, 189, 189);
		/* overflow: hidden; */
		padding: 1em;
		width: 100%;
		
		box-shadow: 1px 4px 8px #777777;
		z-index: 3;
	}
	
	.logo {
		width: 80px;
		position: absolute;
		top: 1vh;
		right: 40vw;
		border-radius: 50px;
		box-shadow: 2px 5px 12px #444444;
		/* height will adjust according to the width */
	 }

	 .login-buttons{
		position: fixed;
		left: 45vw;
		top: 0;
	}

	 .user-photo {
		float: right;
		position: fixed;
		right: 2vw;
		top: 1vh;
		margin-right: 15px;
		border: 1px solid white;
		border-radius: 50px;
		height: 80px;
		box-shadow: 2px 5px 12px #444444;
	}
	.header-search {
		float: right;
		position: fixed;
		top: 4vh;
		right: 8vw;
		box-shadow: 2px 5px 12px #444444;
	}
}

