nav {
    background-color: #2b2b2b;
    overflow: hidden;
    
}

.nav-desktop {
    margin: 0 auto;
}

.nav-links-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2b2b2b;
    padding-left: 20px;
}














.logo {
    height: 100px;
    width: 100px;
    position: relative;
    padding-left: 20px;
}