.Museumcards {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;

  /* height: 60px; */
  /* width: 300px; */
  position: relative;
  left: 400px;
}
