.trips-main{
    background-image: url("view-all-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    min-height: 100vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    animation: showup 7s;
}

.trips-body{
    padding: 50px;    
    background: transparent;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    top: 20vh;
    left: 40vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.trips-title{
    position: fixed;
    top: 15vh;
    border-bottom: 2px solid black;
}

@keyframes showup {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

