/*For Small Mobile Phones*/
@media only screen and (min-width: 320px) {
    .trips-main{
        background-image: url("view-all-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
        min-height: 100vh;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        animation: showup 7s;
    }
    
    .trips-body{
        padding: 40px;    
        background: transparent;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        top: 5vh;
        left: 20vw;
        width:40vw;   
    }
    
    .trips-title{
        border-bottom: 2px solid black;
    }
    }


/*For Small Mobile Phones*/
@media only screen and (min-width: 768px) {
    .trips-main{
        background-image: url("view-all-img.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
        min-height: 100vh;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        animation: showup 7s;
    }
    
    .trips-body{
        padding: 40px;    
        background: transparent;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        /* top: 20vh; */
        left: 35vw;
        width:40vw;   
    }
    
    .trips-title{
        border-bottom: 2px solid black;
    }
}

/*For Full Screen*/
@media only screen and (min-width: 1024px) {
.trips-main{
    background-image: url("view-all-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* overflow: auto; */
    min-height: 100vh;
    font-size: 125%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    animation: showup 7s;
}

.trips-body{
    padding: 50px;    
    background: transparent;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    /* top: 0vh; */
    left: 40vw;
    width:20vw;   
    /* overflow: auto; */
}

.trips-title{
    position: relative;
    /* top: 15vh; */
    border-bottom: 2px solid black;
}
}
