.location-body{
    background-image: url("location-view-img.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    height:100vh;
    /* overflow: hidden; */
    
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    
}

.location-title{
    position: absolute;
    top: 10vh;
    left: 26vw;
    z-index: 1;
}

.location-image{
    position: absolute;
    top: 10vh;
    left: 20vw;
    height: 45vh;
    overflow: hidden;
    
}

.location-card-group{
    position: absolute;
    top: 60vh;
    left: 5vw;
    width: 50vw;
    height: 30vh;
    overflow: scroll;
}



.park-card{  
    margin: 0;
    padding: 0;  
    width: 50vw; 
    height: 35vh; 
    overflow-y: hidden;
    overflow-x: auto;
}
.museum-card{
    /* visibility: hidden; */
}
.food-card{
    visibility: hidden;
}
.mall-card{
    visibility: hidden;
}

.movie-card{
    visibility: hidden;
}


