
/*For IPhone 5/SE*/
@media only screen and (max-width: 320px) {
.Home{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("mobile-home-img.jpg");
  background-repeat: no-repeat;  
  height: 100vh;
  background-size: 100vh;
 }

/*remove element for final product*/
 .homesearch{
  visibility: hidden;
 }

 .search {
  position: fixed;
  left: 0vw;
  top: 50vh;
}

#group-transition {
  position: fixed;
  top: -15vh;
  left: 40vw;
  
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 300;
  font-size: 24px;
  padding-top: 40vh;
  height: 100vh;
  overflow: hidden;
}

.transition-1 {
  animation: showup 5s; 
}

.transition-2 {
  animation: showup 5.5s;
}

.transition-3 {
  animation: showup 6s;
}

.transition-4 {
  animation: showup 6.5s;
}

.hr-1 {
  visibility: hidden;
}


@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

}




/*For Small Laptops*/
@media only screen and (min-width: 1024px) {
  /*remove element for final product*/
 .homesearch{
  visibility: hidden;
 }

  
  .Home {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
      url("home-img.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 130vw;
    height: 100vh;
  }

  #group-transition {
    position: fixed;
    animation: showup 10s;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-weight: 300;
    font-size: 28px;
    padding-top: 40vh;
    height: 100vh;
    overflow: hidden;
  }

  .transition-1 {
    animation: slidein 5s;
    position: fixed;
    top: 44vh;
    left: 38vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .transition-2 {
    position: fixed;
    top: 49.75vh;
    left: 44vw;
    margin-top: -45px;
    animation: slidein 5s;
  }
  
  .transition-3 {
    position: fixed;
    top: 48.85vh;
    right: 45vw;
    margin-top: -37px;
    animation: slidein2 5s;
  }
  
  .transition-4 {
    position: fixed;
    top: 48.85vh;
    right: 37vw;
    margin-top: -37px;
    animation: slidein2 5s;
  }
  
  .hr-1 {
    position: fixed;
    top: 49vh;
    left: 50vw;
    width: 500px;
    transform: translate(-50%, -50%);
    animation: width-line 5s;
  }

  .search {
    position: fixed;
    left: 35vw;
    top: 50vh;
    animation: showup 10s;
  }

  @keyframes showup {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -2000px;
    }
    100% {
      margin-left: 0vw;
    }
  }
  
  @keyframes slidein2 {
    0% {
      margin-right: -2000px;
    }
    100% {
      margin-right: 0px;
    }
  }
  
  @keyframes width-line {
    0% {
      width: 0px;
    }
    100% {
      width: 500px;
    }
  }

}




/*For Full Screen*/

@media only screen and (min-width: 1900px) {
.Home {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("home-img.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: 100vw;
  height: 100vh;
}

.homesearch {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.search {
  position: fixed;
  left: 85vh;
  top: 50vh;
  animation: showup 10s;
}

#group-transition {
  position: fixed;
  animation: showup 10s;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-weight: 300;
  font-size: 32px;
  padding-top: 40vh;
  margin-top: -37px;
  height: 100vh;
  overflow: hidden;
}

.transition-1 {
  position: fixed;
  top: 44.9vh;
  left: 42.5vw;
  animation: slidein 6s;
  /* margin-top: -37px; */
  /* display: inline-block;
  overflow: hidden;
  white-space: nowrap; */
}

.transition-2 {
  position: fixed;
  top: 49.75vh;
  left: 46.5vw;
  /* margin-top: -37px; */
  animation: slidein 6s;
}

.transition-3 {
  position: fixed;
  top: 48.85vh;
  right: 46.5vw;
  /* margin-top: -37px; */
  animation: slidein2 6s;
}

.transition-4 {
  position: fixed;
  top: 48.85vh;
  right: 41.5vw;
  /* margin-top: -37px; */
  animation: slidein2 6s;
}

.hr-1 {
  position: fixed;
  top: 49vh;
  left: 50vw;
  width: 500px;
  transform: translate(-50%, -50%);
  animation: width-line 5s;
}

@keyframes showup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -2000px;
  }
  100% {
    margin-left: 0vw;
  }
}

@keyframes slidein2 {
  0% {
    margin-right: -2000px;
  }
  100% {
    margin-right: 0px;
  }
}

@keyframes width-line {
  0% {
    width: 0px;
  }
  100% {
    width: 500px;
  }
}
}