.home-container {
    background: 

    /* linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), */
    url(italy.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .home-content{
    margin-top: 30px;
      display: flex;

      flex-direction: column;
      align-items: center;
      justify-content: center;
/* background-color: black; */
  }

  .home-container h1{
      font-weight: bolder;
      color: rgb(56, 56, 56);
      font-size: 300%;
      font-family: 'Indie Flower', cursive;
  }