img{
  max-height:150px;
  
}

.card-name{
  height: 5vh;
  font-size: 20px;
}

.park-img{
  max-width: 200px;
}

.card-title{
  font-size: 20px;
  width: 10vw;
  max-height: 50px;
  
  }

.parkcards {  
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: stretch;
 
  height: 15vh;
  width: 90vw;
  position: relative;
  top: 10vh;
}
