

img {
  max-height: 135px;
  
}

.park-name {
  height: 10vh;
  font-size: 16px;
  position: relative;
  top: 35px;
  left: 5px;
}

.park-img {
  max-width: 200px;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.park-title {
  font-size: 20px;
  width: 10vw;
  max-height: 50px;
}

.park-buttons {
  position: relative;
  bottom: 20px;
  left: 60px;
  
}

.parkcards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  
  height: 33vh;
  width: 90vw;
  position: relative;
  top: 0vh;
}
