

.mall-name {
  height: 10vh;
  font-size: 16px;
  position: relative;
  top: 35px;
  left: 5px;
}

.mall-img {
  max-width: 135px;
  position: relative;
  left: 20px;
  bottom: 20px;
}

.mall-title {
  font-size: 20px;
  width: 10vw;
  max-height: 50px;
}

.mall-buttons {
  position: relative;
  bottom: 20px;
  left: 60px;
  
}

.mallcards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  
  height: 33vh;
  width: 90vw;
  position: relative;
  top: 0vh;
}

