.create-trip-main{
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(rgb(189, 189, 189), rgb(110, 110, 145), rgb(131, 131, 131));  
    background-attachment: fixed;
    background-size: 100vw 100vh;
    height: 200vh; */
    display: flex;
    margin: auto;
    align-items: center;
    width: 100%;   
    margin-top: 110px;
}

.create-trip-group{
    display: flex;
    width: 40%;
    flex-direction: column;
    /* align-items: center; */
    margin:auto;  
    
}

.trip-name-container-create {
    margin-left: 10px;
    background-color: black;
}