#page-mask-card {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
  }
  
  #window-card {
    position: fixed;
    left: 20%;
    right: 20%;
    bottom: 20%;
    top: 20%;
    background-color: white;
    border: solid 2px gray;
  }

