.test-category-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.category-main h3 {
    text-shadow: none;
}

.category-main p {
    text-shadow: none;
}
.category-main {
  position: absolute;

  margin-left: 240px;
}

.location-view-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
